/*Headers will be yellow with black text*/
/*Images have black background*/
/*Different fonts for main recipe links*/
/**/

h1,h2,h3 {
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

h1,h2,.two,p,h4 {
    text-align: center;
}

h3 {
    background-color: peachpuff;

}

li,ol {
    background-color: plum;
    font-size: 24px;
}

.one,.two,.quote {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.three {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: end;
}

.ingredients {
    background-color:aquamarine;
    color:brown;
    font-size: 18px;
}

.serving-info {
    font-size:smaller;
}

